

.email-preview {
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 10px 1rem;
    background-color: #fff;
    box-shadow: inset 0px 0px 1px 0px #76c893;
    cursor: pointer;
    transition: background-color .3s, box-shadow .3s;
    font-weight: bold;
}

.email-preview:hover {
    transform: scale(1.001);
    box-shadow: 0 0 7px 0 #0000001c;
}

/* name */
.email-preview >*:nth-child(2) {
    margin-inline-start: 5%;
    font-family: Raleway-Regular;
    flex-grow: 1;
    max-width: 200px;
}

/* headline */
.email-preview >*:nth-child(3) {
    flex-grow: 1;
}


.email-preview i:hover{
    transform: scale(1.1);
}

/* envelope */
.email-preview >*:nth-child(4) {
    margin-inline-end: 0.5em;
}

/* states */

.email-preview.read {
    background-color: #f5f7f7;
    font-weight: unset;
}
.email-preview.selected {
    background-color: #00B594;
}