@import url(./email-preview.css);
@import url(./email-list.css);

.email-app {
    display: flex;
    height: 89.3vh;
    justify-content: space-between;
}
.email-app-tool {
    position: relative;
    right: 100px;
    width: 30%;
    background-color: red;
}