/* .email-list-tool {
    padding: 0 1rem;
    cursor: pointer;
} */

.email-list {
    height: 89.3vh;
    width: 88vw;
    overflow: scroll;
    overflow-x: hidden;
    position: absolute;
    right: 0;
    padding-inline-end: 2em;
}

/* width */

.email-list::-webkit-scrollbar {
    width: 15px;
}

/* Track */

.email-list::-webkit-scrollbar-track {
    background-color: #fff;
}

/* Handle */

.email-list::-webkit-scrollbar-thumb {
    background-color: #76c893;
}

/* Handle on hover */

.email-list::-webkit-scrollbar-thumb:hover {
    background-color: #6cb686;
    /* box-shadow: 0 0 3px rgba(0, 0, 0, 0.192); */
}

.email-list::-webkit-scrollbar-thumb:active{
    background-color: #62a579;
    box-shadow: inset 0 0 3px rgba(78, 78, 78, 0.287);
}