.add-note {
    background-color: rgb(228, 228, 228);
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 2.5rem;
}

.add-note>*:not(:last-child) {
    margin-inline-end: 2rem;
}

.add-note form {
    display: flex;
    align-items: center;
}

.add-note input {
    margin-inline-end: 0.5rem;
    padding: 1em 1em 1em 1em;
    width: 300px;
}

.add-note input:focus{
    box-shadow: 0px 0px 2px 0px #00000057;
}

.add-note button {
    background-color: transparent;
    text-align: center;
    border-radius: 3rem;
    padding: 0.2em 0.4em;
    border: none;
    color: #76C893;
    font-size: 2em;
    transition: color 0.3s;
}

.add-note button:hover{
    color: #58ce81;
}

.add-note .fa-font,.add-note .fa-image,.add-note .fa-list-ul {
    cursor: pointer;
    color: #212529;
    font-size: 1.5em;
    transition: all 0.3s;
}

.add-note .fa-font:hover,.add-note .fa-image:hover,.add-note .fa-list-ul:hover {
    color: #76C893;
}

.add-note .fa-font.active-type,.add-note .fa-image.active-type,.add-note .fa-list-ul.active-type {
    color: #76C893;
    transform: scale(1.2);
}