.add-note {
    background-color: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 2.5rem;
    flex-direction: column;
}

.add-note form {
    display: flex;
    margin-bottom: 1em;
}

.add-note input {
    font-size: 1em;
    margin-inline-end: 0.5rem;
    padding: 1em 1em 1em 1em;
    width: 200px;
}

.add-note input:focus {
    box-shadow: 0px 0px 2px 0px #00000057;
}

.add-note .add-note-btn{
    background-color: transparent;
    text-align: center;
    border-radius: 3rem;
    padding: 0.2em 0.4em;
    border: none;
    cursor: pointer;
    color: #00B594;
    font-size: 1.5em;
    transition: all 0.3s;
    font-size: 2em;
}

.add-note .add-note-btn:hover {
    color: #009E81;
}

.note-type-container {
    display: flex;
    justify-content: space-between;
}

.note-type-container>*:not(:last-child) {
    margin-inline-end: 1em;
}

.add-note .note-type-container button{
    color: #212529;
    font-size: 1.5em;
    transition: all 0.3s;
}

.add-note .note-type-container button:hover{
    color: #00B594;
    transform: scale(1.2);
}

.add-note .note-type-container button.active-type{
    color: #00B594;
    transform: scale(1.2);
}

@media (min-width:630px) {
    .add-note {
        flex-direction: unset;
        justify-content: flex-start;
    }
    .add-note>*:not(:last-child) {
        margin-inline-end: 2rem;
    }
    .add-note form {
        align-items: center;
        margin-bottom: unset;
    }
    .add-note input {
        width: 300px;
    }
    .note-type-container {
        justify-content: flex-start;
    }
}