/* HELPERS */

/* list helpers */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    padding: 0 3rem;
}

.hidden {
    display: none;
}

.show {
    display: flex;
}

/* btn helpers */

.clean-btn {
    border: unset;
    background-color: unset;
}

/* flex helpers */

.flex{
    display: flex;
}

.flex.flex-wrap{
    flex-wrap: wrap;
}


