.add-review-container {
    font-family: Raleway-Regular;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.add-review-container h1 {
    margin-bottom: 1em;
    font-size: 1.5em;
}

.add-review-container .book-review-form {
    display: flex;
    width: 100px;
    flex-direction: column;
    align-items: center;
}

.add-review-container .book-review-form input[type="text"] {
    padding: 0.6em 2em;
    font-size: 1em;
    margin-bottom: 1em;
}

.add-review-container .book-review-form textarea{
    max-width: 200px;
    padding: 1em;
    outline: none;
    resize: none;
}

.add-review-container button{
    color: #ffff;
    letter-spacing: 1px;
    font-size: 1em;
    border: unset;
    margin: 1em;
    width: 10em;
    padding: 0.6em;
    background-color: #76c893;
    border-radius: 10px;
    transition: box-shadow .3s;
}

.add-review-container button:hover {
    background-color: #72c08d;
    box-shadow: 0 0 5px #00000042;
}

.add-review-container button:active{
    background-color: #6cb686;
}