.add-book{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.add-book input {
    padding: 0.6em 2em;
    font-size: 1em;
    max-width: 250px;
    margin-bottom: 1rem;
}
  

.add-book .result-options {
    font-family: Raleway-light;
    list-style-type: none;
    background: transparent;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.add-book .result-options ul {
    display: flex;
    flex-wrap: wrap;
}

.add-book .result-options li {
    display: flex;
    align-items: center;
    width: 100%
}

.add-book .result-options li p{
    margin: 1em 1em 1em 0;
    width: 20ch;
}


.add-book button {
    background-color: transparent;
    text-align: center;
    border-radius: 3rem;
    padding: 0.2em 0.4em;
    border: none;
    color: #76C893;
    font-size: 1.5em;
    transition: color 0.3s;
}

.add-book button:hover{
    color: #58ce81;
}

